<footer class="flex justify-between items-center py-2 px-5 bg-slate-50">
  <div class="">
    <p>
      Copyright &copy; -
      <a
        href=""
        target="_blank"
        >Guillemot Clément</a
      >
    </p>
  </div>
  <ul class="flex gap-x-2">
    <li>
      <a
        href="#"
        target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
    </li>
    <li>
      <a
        href="#"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </li>
  </ul>
</footer>
