<header class="flex justify-between items-center py-2 px-5 shadow bg-slate-50">
  <div class="flex items-center">
    <i class="fa-solid fa-hashtag"></i>
    <h2>Taskodo</h2>
  </div>
  <ul class="flex gap-x-2">
    <li><a href="">Accueil</a></li>
    <li><a href="">Mes tâches</a></li>
  </ul>
  <ul class="flex gap-x-2">
    <li><a href="">Connexion</a></li>
    <li><a href="">Inscription</a></li>
    <li><a href="">Profil</a></li>
    <li><a href="">Deconnexion</a></li>
  </ul>
  <div class="">
    <i class="fa-solid fa-bars"></i>
  </div>
</header>
